VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=insightpad-dd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=insightpad-dd
VITE_FIREBASE_STORAGE_BUCKET=insightpad-dd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_APP_CHECK_RECAPTCHA_ENTERPRISE_SITE_KEY=
